        <form class="wufoo" action="/cgi-bin/surlogw.py" method="post">

	<ul>

	<li class="section second">
		${edit_surgery_title}
	</li>

	<li>
	<label class="desc"></label>
		<span>
		<label>ID</label>
		<input name="surgery_ID" class="field text" size="2" readonly value="${surgery_ID}" />
		</span>
	
		<span>
		<label>Description of procedure</label>
		<input name="surgery_name" class="field text" size="35" value="${surgery_name}"/>
		</span>

		<span>
		<label>Status</label>
		<input name="surgery_status" class="field text" size="40" disabled value="${surgery_status}"/>
		</span>


	</li>

        </ul>

	<input type="hidden" name="added_new" value="${surgery_ID}">
	
    <input type="submit" value="${submit_text}" />
       
</form>

</div><!--container-->


</body>

</html>
