<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>
Biophysics Surgery Logger - Imperial College London
</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- JavaScript -->
<script type="text/javascript" src="/surlog/scripts/wufoo.js"></script>
<script type="text/javascript" src="/surlog/scripts/table.js"></script>
<script type="text/javascript" src="/surlog/scripts/jquery.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="/surlog/css/structure.css" type="text/css" />
<link rel="stylesheet" href="/surlog/css/form.css" type="text/css" />
<link rel="stylesheet" href="/surlog/css/theme.css" type="text/css" />
<link rel="stylesheet" href="/surlog/css/table.css" type="text/css" />

</head>

<body id="public">

<div id="container">

        <div class="headerbar">
                <span class="left">${logged_user}</span>
                <span class="right">${logout_link}</span>
        </div>
        
        <div class="actionbar">
                <span class="left">${first_link}</span>
                <span class="left">&nbsp;&nbsp;${second_link}</span>
                <span class="left">&nbsp;&nbsp;${third_link}</span>
        </div>
        </br>

        <table><tr><td>
        <img src="/surlog/images/logo.gif"></td>
        <td>
	<div class="info">
	<h2>Biophysics Surgery Logger</h2>
	<div>Rodent surgery logger of the biophysics group - Imperial College London</div>
	</div>
        </td></tr></table>
