        <form class="wufoo" action="/cgi-bin/surlogw.py" method="post">

        <ul>

                <li class="section first">
                        <h3>${list_title}</h3>
                        <div><!--Currently open surgeries for the user--></div>
                        ${open_surgeries_table}
                </li>

        </ul>
        </form>
        
</br></br>

</div><!--container-->


</body>

</html>
